body,
button {
  margin: 5px;
  font-family: 'Kosugi Maru', sans-serif;
}

#drink-wrap,
#drink-wrap,
.drink-wrap__customize {
  display: flex;
  flex-wrap: wrap
}

.drink-wrap__title {
  font-size: 24px;
  margin-bottom: 5px;
}
.drink-wrap__customize {
  margin-bottom: 20px;
}
.drink-wrap__menu {
  width: 18%;
  max-width: 150px;
  margin-right: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.drink-wrap__menu:hover {
  width: 19%;
  max-width: 160px;
}
.drink-wrap__img {
  width: 100%;
}
.drink-wrap__name {
  font-size: 12px;
}

#drink-wrap__customize {
  margin-top: 30px;
}

#submit {
  text-align: center;
  border: 1px solid #333;
  margin: 30px 30%;
  padding: 5px;
}
#submit:hover {
  background-color: rgb(112, 208, 159);
  border: 1px solid #fff;
}

.active {
  background: green;
  color: white;
}

